*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-principal: #FFC727;
    --color-complementario: #FFB412;
    --color-secundario: #DFEAFF;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vh 5vw;
}



.logo div h2{
    line-height: 28px;
    margin-left: 5px;
    margin-top: 5px;
}

.colorprincipal{
    color: var(--color-principal);
}


